/* General */
html,
body {
    height: 100%;
    margin: 0;
}

#container_principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../Recursos/background5.avif);
}

main {
    flex: 1;
}

.footer-style {
    margin-top: auto;
    /* Mueve el footer a la parte inferior */
}

/* Estilos adicionales */
.d-flex.align-items-center.min-vh-100 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 10.5rem;
}

.icon_footer {
    height: 2rem;
    width: 2rem;
}

footer h3 {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.copyright {
    font-size: 0.7rem;
}

.custom-placeholder::placeholder {
    color: #b0b0b0;
    opacity: 1;
}

.busqueda {
    height: 30vh;
}

/* Estilos de la Paginación */
.pagination-container {
    padding: 20px;
    /* Espacio alrededor de la paginación */
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    /* Espacio entre los elementos */
    flex-wrap: wrap;
    /* Ajuste en pantallas pequeñas */
}

.page-item {
    margin: 0;
    background-color: none;
    /* Elimina el margen para un ajuste más preciso */
}

.page-link {
    color: #fff;
    /* Color blanco para el texto */
    background-color: transparent;
    /* Fondo transparente */
    border: 2px solid #8e24aa;
    /* Borde morado */
    padding: 10px 14px;
    text-decoration: none;
    border-radius: 8px;
    /* Bordes más redondeados */
    transition: background-color 0.3s, border-color 0.3s;
    /* Transiciones suaves */
    font-size: 16px;
    /* Tamaño de fuente más grande */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* Centra el contenido */
}

.page-link:hover {
    background-color: #8e24aa;
    /* Morado para el hover */
    border-color: #7b1fa2;
    /* Morado más oscuro para el borde al hacer hover */
}

.page-item.active .page-link {
    background-color: #7b1fa2;
    /* Morado para la página activa */
    border-color: #7b1fa2;
    /* Bordes morados para la página activa */
}

.page-item.disabled .page-link {
    color: #aaa;
    /* Color gris para elementos deshabilitados */
    cursor: not-allowed;
    /* Cursor de no permitido para elementos deshabilitados */
}

.page-item .page-link[aria-label="Previous"],
.page-item .page-link[aria-label="Next"] {
    background-color: #4caf50;
    /* Verde para las flechas */
    border-color: #388e3c;
    /* Verde más oscuro para el borde de las flechas */
    color: #fff;
    /* Texto blanco */
}

.page-item .page-link[aria-label="Previous"]:hover,
.page-item .page-link[aria-label="Next"]:hover {
    background-color: #388e3c;
    /* Verde más oscuro para el hover */
    border-color: #2c6d2b;
    /* Verde aún más oscuro para el borde al hacer hover */
}

/* Responsive para pantallas más pequeñas */
@media (max-width: 576px) {
    .page-link {
        padding: 8px 12px;
        /* Ajusta el padding para pantallas más pequeñas */
        font-size: 14px;
        /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }
}

/* Cards */
.card {
    border: 2px solid #8A2BE2;
    /* Morado */
    border-radius: 10px;
    background-color: #202329;
    /* Mantener el fondo oscuro */
    color: #ffffff;
    /* Texto blanco para mantener la visibilidad */
}

.card .details-button {
    border: 2px solid #97ce4c;
    /* Verde Rick and Morty */
    background-color: #202329;
    /* Fondo oscuro */
    color: #ffffff;
    /* Texto blanco */
}

.card .details-button:hover {
    background-color: #97ce4c;
    /* Verde al pasar el mouse */
    color: #202329;
    /* Texto oscuro para contrastar con el verde */
}


/* Responsive */
@media (max-width: 768px) {
    .rick-morty-card {
        width: 90%;
    }

    .pagination-rick-morty .page-link {
        padding: 0.5rem;
    }
}

/* Estilos personalizados en seccion de filtros */
.bg-black {
    background-color: #000000;
}

.border-info {
    border-color: #00bfff;
    /* Azul brillante para destacar */
}

.text-light {
    color: #e0e0e0;
    /* Color claro para contraste con el fondo oscuro */
}

.custom-placeholder::placeholder {
    color: #a0a0a0;
    /* Color del placeholder */
}

@media (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Estilos para la pagina de detalles */
.rick-morty-card {
    border: 2px solid #8A2BE2;
    /* Morado */
    border-radius: 12px;
    background-color: #1d1d1d;
    /* Fondo oscuro */
    color: #e0e0e0;
    /* Texto claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Sombra sutil */
}

.rick-morty-card:hover {
    background-color: rgba(77, 198, 200, 0);
    border-style: solid 90px;
    transform: scale(1.05);
}

.rick-morty-card img {
    object-fit: cover;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.rick-morty-card .card-body {
    background-color: #202329;
    /* Fondo de la tarjeta */
}

.rick-morty-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #8A2BE2;
    /* Morado para el título */
}

.rick-morty-card .card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.rick-morty-card .btn-primary {
    background-color: #8A2BE2;
    /* Morado */
    border-color: #8A2BE2;
    color: #ffffff;
    font-size: 0.9rem;
    border-radius: 8px;
    transition: background-color 0.3s, border-color 0.3s;
}

.rick-morty-card .btn-primary:hover {
    background-color: #7b1fa2;
    /* Morado oscuro */
    border-color: #7b1fa2;
}

.rick-morty-card .btn-secondary {
    background-color: #4CAF50;
    /* Verde para el botón secundario */
    border-color: #4CAF50;
    color: #ffffff;
    font-size: 0.9rem;
    border-radius: 8px;
    transition: background-color 0.3s, border-color 0.3s;
}

.rick-morty-card .btn-secondary:hover {
    background-color: #388e3c;
    /* Verde más oscuro */
    border-color: #388e3c;
}

/* Estilos para el mensaje de carga en pagina de detalles*/
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    /* Ajustar según sea necesario */
    background-color: #1d1d1d;
    /* Fondo oscuro */
    border-radius: 12px;
}

.loading-spinner {
    border: 8px solid #1d1d1d;
    /* Fondo del spinner */
    border-top: 8px solid #8A2BE2;
    /* Color del spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}

.loading-text {
    font-size: 1.2rem;
    color: #8A2BE2;
    /* Morado */
    text-align: center;
    font-weight: bold;
}

/* Animación del spinner */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .rick-morty-card {
        width: 90%;
    }

    .rick-morty-card .card-body {
        padding: 1rem;
    }
}

/*Seccion modal*/