@font-face {
    font-family: 'Get Schwifty';
    src: url('../Fonts/GetSchwifty-Regular.woff2') format('woff2'),
        url('../Fonts/GetSchwifty-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes spinPortal {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#modal {
    background-color: rgba(36, 41, 46, 0.9);
    border: 2px solid #0f0;
    border-radius: 10px;
}

/* Botón para abrir la ventana modal */
#abrirModal {
    background-color: rgba(108, 255, 108, 0.964);
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#abrirModal:hover {
    background-color: #0b0;
}

#backButton {
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    transition: transform 0.2s ease;
}

#backButton:hover {
    transform: scale(1.1);
}

#hola {
    background-image: url(../Recursos/fondo.png);
}

#cont {
    background-image: url(../Recursos/fondo.png);
}

.toc {

    background-image: url(../Recursos/image.webp);
}

/* Estilos para boton cerrar modal */

#abrirModal {
    background-color: rgba(108, 255, 108, 0.964);
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#abrirModal:hover {
    background-color: #0b0;
}

#cerrarModal {
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    transition: transform 0.2s ease;
}

#cerrarModal:hover {
    transform: scale(1.1);
}


/* Estilo base para los elementos de la lista */
.navbar-nav .nav-item {
    font-family: Get Schwifty, 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    transition: transform 0.5s ease;
    background: linear-gradient(135deg, #290c12, #302b63, #24243e);
    border-radius: 100px;
    text-align: center;
}

.ff {
    color: #46c6c2;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    padding: 0px 6px;

}

.imageLocation {
    width: 350px;
    object-fit: contain;
}

#containerPLocation {
    color: white;
}


.portalIf {
    width: 200px;
}

@media (max-width: 768px) {

    /* Ajusta este valor según el punto de ruptura que desees para 'pantallas pequeñas' */
    #pLocation {
        max-height: 200px;
        /* Ajusta este valor según la altura deseada */
        overflow-y: auto;
        /* Habilita el desplazamiento vertical si el contenido es más alto que max-height */
    }
}


/* Estilo para el hover */
.navbar-nav .nav-item:hover {
    transform: scale(1.2);
    /* Aumenta el tamaño del elemento */

    /* Asegura que el elemento se muestre sobre los demás */
}

/* Estilo para los demás elementos cuando uno está en hover */
.navbar-nav .nav-item:not(:hover) {
    transform: scale(0.8);
    /* Disminuye el tamaño de los elementos no seleccionados */

}

.nav-item .nav-link.active {
    position: relative;
    color: #00fc65;
    /* Color cian brillante para el texto */
    font-weight: bold;
    text-shadow: 0px 0px 5px #000000;
    background-color: #0000004f;
    border-radius: 150px;
    /* Sombra cian para darle un brillo */
}

.nav-item .nav-link.active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: spinPortal 5s linear infinite;
}

/* Asegúrate de que el resto del navbar no se vea afectado */
.navbar {
    background-color: transparent;
    transition: top 0.3s;
    /* Transición suave */
    position: fixed;
    /* Posición fija */
    width: 100%;
    /* Ancho completo */
    top: 0;
    /* Inicia en la parte superior */
    z-index: 2000;
    /* Asegúrate de que esté por encima de otros elementos */
}

/* Clase para ocultar el navbar */
.navbar-hide {
    top: -100px;
    /* Ajusta este valor al alto de tu navbar */
}


/* Asegúrate de que el header no tenga fondo o bordes que bloqueen la vista */
header.sticky-top {
    background: none;
    border: none;
}

.badge:hover {
    transform: scale(1.2);
    /* Aumenta el tamaño del elemento */

    /* Asegura que el elemento se muestre sobre los demás */
    color: #22db6c;
    /* Color cian brillante para el texto */
    font-weight: bold;
    text-shadow: 0px 0px 5px #244e09;
    background-color: #0223184f;
    border-radius: 150px;

}

.principal {
    background-image: url('../Recursos/rick-and-morty-art-4k-wallpaper-uhdpaper.com-214@0@j.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.video-background {
    position: absolute;
    width: 30%;
    height: 30%;
    z-index: 3;
    /* Asegúrate de que este valor sea mayor que el de los otros elementos */
}

.image-band {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.image-band img {
    display: inline-block;
    vertical-align: middle;
    /* Ajusta el tamaño de tus imágenes según sea necesario */
    width: auto;
    height: 100px;
    /* Ejemplo de altura */
    margin-right: -4px;
    /* Elimina el espacio entre imágenes inline-block */
}

#image-slider {
    overflow: hidden;
    white-space: nowrap;
}

#slide-track {
    display: flex;
    animation: scrollImages 30s linear infinite;
}

.slider {
    width: 250px;
    /* Ajusta el ancho según tus imágenes */
    height: 150px;
    /* Ajusta la altura según tus imágenes */
    margin-right: 5px;
    transition: transform 0.3s ease;
}

/* Animación que mueve las imágenes */
@keyframes scrollImages {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

/* Detiene la animación cuando el mouse está encima */
#slide-track:hover {
    animation-play-state: paused;
}

/* Efecto hover para las imágenes */
.slider:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@keyframes scrollImages {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.image-band {
    animation: scrollImages 60s linear infinite;
    /* Ajusta la duración para controlar la velocidad */
}

.image-band:hover {
    animation-play-state: paused;
    /* Detiene la animación cuando el mouse está encima */
}

.welcome-section {
    background: url('./Recursos/welcome-background.jpg') no-repeat center center;
    background-size: cover;
    padding: 50px 0;
    color: #fff;
    text-align: center;
}

.welcome-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.welcome-section p {
    font-size: 1.2rem;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.latest-news {
    padding: 40px 0;
    color: #fff;
}

.latest-news h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.news-item {
    display: flex;
    margin-bottom: 20px;
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.news-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.news-item img {
    width: 30%;
    object-fit: cover;
}

.news-content {
    padding: 20px;
    flex: 1;
}

.news-content h4 {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.news-content p {
    font-size: 1rem;
    line-height: 1.5;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    color: #00b3e6;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}

.explore-universe {

    padding: 50px 0;
    color: #ffffff;
    text-align: center;
}

.explore-universe h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
}

.explore-universe p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.universe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.planet-card {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.planet-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card:hover {
    background-color: rgba(77, 198, 200, 0.644);
    border-style: solid 90px;
    transform: scale(1.05);
}

.planet-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.planet-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.planet-card p {
    font-size: 1rem;
}


#main2 {
    margin-top: 100px;
}

.image {
    max-width: 10.5rem;
}

#container_principal {
    display: flex;
    flex-direction: column;
    background-color: black;
}

#pLocation {
    font-family: 'Times New Roman', Times, serif;
}

#tarjeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

#page {
    flex: 1;
    margin-top: 50px;
}

.imageH {
    max-height: 55vh;
    object-fit: cover;
}

.icon_footer {
    height: 2rem;
    width: 2rem;
}

footer h3 {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.copyright {
    font-size: 0.7rem;
}

#episodesContainer .card-img-top {
    width: 100%;
    height: 200px;
    /* Ajusta la altura*/
    object-fit: cover;
    /*imagen cubra el área sin distorsionarse */
}

footer {
    font-family: Get Schwifty, 'Oswald', sans-serif;
    background-color: #000000;
}

#seasonsContainer .card-img-top {
    width: 100%;
    height: 200px;
    /* Ajusta la altura*/
    object-fit: cover;
    /*imagen cubra el área sin distorsionarse */
}

/* Estilo para las tarjetas en el contenedor de episodios */
#episodesContainer .card {
    transition: border 0.3s ease, transform 0.3s ease;
    border: 10px solid transparent;
}

/* Efecto al pasar el mouse sobre la tarjeta */
#episodesContainer .card:hover {
    border-color: green;
    transform: scale(1.05);
}

#episodesContainer .card-img-top {
    transition: opacity 0.3s ease;
}

#seasonsContainer .card:hover {
    border-color: green;
    transform: scale(1.05);
}

#seasonsContainer .card-img-top {
    transition: opacity 0.3s ease;
}


#seasonsContainer .card {
    transition: border 0.3s ease, transform 0.3s ease;
    border: 10px solid transparent;
}

.carousel {
    z-index: 1;
    /* Disminuye este valor si es necesario */
}

.carousel-caption h5 {
    font-size: 2rem;
}

body {
    background: linear-gradient(to bottom, #000000c9 0%, #000000 100%);
    margin: 0;
    padding: 0;

}

main {
    position: relative;
    /* Sombra interior para dar profundidad */
    box-shadow: inset 0 0 10px #000000;
    /* Otros estilos para tu main */
    padding: 20px;
    color: white;
    border-radius: 15px;
    margin: 20px;
    overflow: hidden;
}

main h2,
p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main::before {
    content: '';
    position: absolute;
    top: -10px;
    /* Ajusta según la altura de la sombra que desees */
    left: 0;
    right: 0;
    height: 10px;
    /* Ajusta según la altura de la sombra que desees */
    box-shadow: 0 10px 15px -5px rgba(255, 0, 0, 0.889);
    z-index: 10;
    /* Asegúrate de que este valor sea mayor que el del fondo para que la sombra se proyecte sobre él */
}


.carousel_size {
    height: 75vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.icon_footer {
    height: 2rem;
    width: 2rem;
}

#container_principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Altura mínima de la ventana gráfica */
}

.busqueda {
    height: 30vh;
}


#footer {
    margin-top: auto;
}

footer h3 {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.copyright {
    font-size: 0.7rem;
}



/* --------------------------------------------PAGINA INFORMATION HECHA POR SEBAS----------------------------- */
.cssFont_1 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    letter-spacing: 1px;
    color: #00ff1e;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.temporada-p {
    margin: 0;
    padding: 0;
}

.temporada-p:hover {
    color: #00ffea;
    /* Cambia el color de la fuente al hacer hover */
    text-shadow: 0 0 20px #00ff80, 0 0 40px #00ffea, 0 0 60px #00ffea;
}

.img-fluid {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-fluid:hover {
    transform: scale(1.05);
    /* Escala la imagen un 5% más grande */
    box-shadow: 0 10px 20px rgb(5, 255, 30);
    /* Añade una sombra al hacer hover */
}

.rick-morty-text p {
    font-family: 'Oswald', Arial, sans-serif;
    /* Fuente personalizada que recuerda la estética de Rick y Morty */
    color: #00ff1e;
    /* Verde brillante, similar al color de los portales */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* Sombra para dar un efecto de profundidad */
    background: linear-gradient(90deg, #3a3a3a, #1e1e1e);
    /* Fondo con un degradado oscuro */
    padding: 10px;
    border-radius: 8px;
    /* Bordes redondeados */
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Animación suave */
}

.rick-morty-text p:hover {
    transform: scale(1.05);
    /* Agranda ligeramente el texto al hacer hover */
    box-shadow: 0 5px 15px rgba(0, 255, 30, 0.5);
    /* Sombra verde brillante */
}


@media(min-width: 768px) {
    .cssFont_1 {
        font-size: 11vh;
        transform: rotate(-90deg);
    }
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    object-fit: cover;
    min-height: 200px;
    width: 100%;
}

.card-body {
    flex: 1;
}

.card-footer {
    text-align: center;
}

/* --------------------------------------------PAGINA INFORMATION HECHA POR SEBAS----------------------------- */