.image {
    max-width: 10.5rem;
}

#container_principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}

#page {
    flex: 1;
}

.imageH {
    max-height: 55vh;
    object-fit: cover;
}

.icon_footer {
    height: 2rem;
    width: 2rem;
}

footer h3 {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.copyright {
    font-size: 0.7rem;
}

.pagination-dark {
    background-color: #343a40 !important;
    border-color: #454d55 !important;
}

.pagination-dark .page-link {
    color: #ffffff !important;
    background-color: #343a40 !important;
    border-color: #454d55 !important;
}

.pagination-dark .page-link:hover {
    color: #ffffff !important;
    background-color: #495057 !important;
    border-color: #343a40 !important;
}

.pagination-dark .page-item.active .page-link {
    color: #ffffff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.pagination-dark .page-item.disabled .page-link {
    color: #6c757d !important;
    background-color: #343a40 !important;
    border-color: #454d55 !important;
}